{% extends 'base.html' %}

{% block title %}About · Jikan{% endblock %}

{% block fullwidthheader %}
<section class="features">
    <div class="container">
    <h2>About Jikan.</h2>
        <p class="lead">>> Learn more about the project and our goals.</p>
        <br>
        <p class="lead"><strong>Jikan</strong> is an online tool designed to support researchers to perform systematic literature reviews.
        The underlying algorithm recommends papers for review to researchers based on the similarity of papers.
            <br><br>
        In the next iteration of the project, we hope to allow researchers to search by keywords, authors,  or upload a list of papers,
            and recommend related content to help them better understand the landscape of their field.</p>

  </div>
</section>
{% endblock %}

