{% extends 'base.html' %}

{% block title %}About · Jicount{% endblock %}

{% block fullwidthheader %}
<section class="features">
    <div class="container">
    <h2>About Jicount.</h2>
        <p class="lead">>> Learn more about the project and our goals.</p>
        <br>
        <p class="lead">The ability for researchers to share their papers’ path to a successful placement can help other researchers, especially the those who are early in their career, to better understand the steps needed to arrive at publication. Often times, people only see the shiny line of publication in the CV of successful researchers but not the work behind. It takes both persistence and many revisions to arrive at a state ready for publication. 
        
        <strong>Jicount</strong> is an online platform that aims to make the publication process more translucent to encourage researchers to hang on, and let them know that they are not alone.

         <br>
         <br>
        Aside from allowing users to upload their papers’ activities, users can also comment/like on other users’ papers’ activities. In our vision, researchers can get advices on the journals that are best fit for their paper. They can also give feedback on others’ papers before the article is sent out for publication, thereby increasing the chance of the paper’s chance to survive peer review and shortening the time to publication.
These advices and interactions are previously limited to smaller academic circles. <strong>Jicount</strong> hopes to democratize this process, and provide more opportunity for researchers from all over the world to seek and give advices regardless of their experience level and location.
        
        <br><br>

        



      </p>

  </div>
</section>
{% endblock %}
