{% extends 'base.html' %}

{% block title %}About · Jikan{% endblock %}

{% block fullwidthheader %}
  <div class="masthead">
    <h1>About Jikan</h1>
    <p>Learn more about the project and our goals</p>
  </div>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <article>
        <h2>What's Jikan?</h2>
        <p><strong>Jikan</strong> is an online tool designed to support researchers to perform systematic literature reviews.  The underlying technology uses AI to automatically recommends literature to review</p>


      </article>
    </div>
  </div>
{% endblock content %}