<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 ">
      </div>
      <div class="col-sm-6 social text-right">
          <a href="mailto: onyilam@gmail.com" target="_blank" data-toggle="tooltip" title="contact" data-placement="top">
              <span class="fa fa-envelope-o", style="font-size:25px"></span></a>
          <a href="https://twitter.com/jicount" target="_blank" data-toggle="tooltip" title="Twitter" data-placement="top">
              <span class="fa fa-twitter", style="font-size:25px"></span></a>

        </div>
    </div>
  </div>
</footer>
