{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block fullwidthheader %}
    <section class="features">
    <div class="container">
    <h2>Add New paper</h2>

    {% if user.is_authenticated %}
    <form method="POST" class="post-form" id ="new_paper_form" novalidate>
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    {% endif %}
    </div>

    </section>

{% endblock fullwidthheader %}
