{% load static %}
<html>
    <head>
        <title>Jikan</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
         <div class="wrapper">
    {% include 'includes/header.html' %}
    {% comment %}
      <div class="announcement">
        <div class="container">
          <strong>Scheduled Maintenance:</strong>
          In order to upgrade our servers, the application will be offline for approximately 20 minutes on Oct 17, 2015 07:00 UTC.
        </div>
      </div>
    {% endcomment %}
    {% block fullwidthheader %}{% endblock %}



        <div class="content container">
            <div class="row">
                <div class="col-md-9">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-3">
                {% block content2 %}
                {% endblock %}
                </div>
            </div>
        </div>


        <div class="footer">
            <p>Contact <a href="mailto:onyilam@gmail.com">
            onyilam@gmail.com</a>.</p>
        </div>

    </body>


</html>