{% extends 'base.html' %}
{% load socialaccount %}
{% load widget_tweaks %}


{% block javascript %}
    <script>
        $(document).ready(function(){
          $(".sim_button").click(function(){
                $.ajax({
                    type: "GET",
                    data: {'pk': $(this).data('pid') },
                    url: "{% url 'search:get_recommendation' %}",
                    success: function(response) {
                        $(".expand").text(response.rec_list + ", "+ response.rec_journal).css({ 'font-weight': 'bold' })
                    },
                    error: function(response, error) {
                        alert(error);
                    }
                });
            });
          });
    </script>
    <script>
        $(document).ready(function(){
          $(".like_button").click(function(){
                var pk = $(this).data('pid')
                $.ajax({
                    type: "GET",
                    data: {'pk': $(this).data('pid'),
                           'liked': $("span").hasClass('fa fa-thumbs-up') },
                    url: "{% url 'search:paperpreference' %}",
                    success: function(response) {
                        $("#like_count_"+ pk).html(response.likes )
                    },
                    error: function(response, error) {
                        alert(error);
                    }
                });
            });
          });
    </script>

{% endblock %}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

</head>


{% block fullwidthheader %}
    <section class="features">
    <div class="container">
    <h2>Search for the Next Paper.</h2>
        <p class="lead">We understand that with the vast amount of literature, doing a thorough literature review seems impossible.<br>
            <strong>Jikan</strong>'s algorithm is designed to uncover what papers are most similar, and help you prioritize your reading.</p>

        <p class="lead">
            <form action="{% url 'search:search_paper' %}" method="GET" value="{{request.GET.q}}">
            <input type="text" style="font-size: 12pt; height: 40px; width:500px; " name="q" value="{{request.GET.q}}" placeholder="Paper Title"/><br><br>
            <button type="submit" class="btn btn-primary" name="submit" value="Search">Submit</button>
            </form>
        </p>


    {% if submitbutton == 'Search' and request.GET.q != '' %}
    {% if results %}


    <h3>Results for <b>{{ request.GET.q }}</b></h3>
        <br/>


        <div style="width: 100%; overflow: hidden;">

       {% for result in results %}
           <li >
            {{ result.title}},
            {{ result.authors }},
            <strong> {{ result.journal }}</strong>
            <i>{{ result.year }} </i>

            <button class="sim_button" data-pid="{{ result.pk }}">Similar Papers </button>

               <a href="#" class="like_button" data-pid="{{ result.pk }}"> <span class="like_span fa fa-thumbs-up"></span>
                   <strong id="like_count_{{ result.pk }}">{{result.likes}} </strong> </a>

             |
                <a href="#" onClick="document.getElementById('dislikebutton').submit()"> <span class="like_span fa fa-thumbs-down"> </span>
              <strong id="dislike_count"> {{result.dislikes}}</strong> </a>

            <br>
               <div class="expand" id="sim_{{ result.pk }}"></div>

{##}
{#            <form id="likebutton" method="POST" action="{{result.id}}/preference/1/">#}
{#                {% csrf_token %}#}
{#            <input type="hidden">#}
{#            </form>#}
{#           <form id="dislikebutton" method="POST" action="{{result.id}}/preference/2/">#}
{#               {% csrf_token %}#}
{#            <input type="hidden">#}
{#            </form>#}

           </li>
           <br/>

       {% endfor %}



         </div>
    {% else %}


        <h4> No search results for this query </h4>
        {% endif %}
    {% endif %}
    </div>
    </section>

{% endblock fullwidthheader %}

{% block fullwidthfooter %}
  <section class="features">

  </section>
{% endblock fullwidthfooter %}

