{% extends 'base.html' %}
{% load socialaccount %}
{% load widget_tweaks %}


{% block javascript %}
    <script>
        $(document).ready(function(){
          $(".sim_button").click(function(){
                $.ajax({
                    type: "GET",
                    data: {'pk': $(this).data('pid') },
                    url: "{% url 'search:get_recommendation' %}",
                    success: function(response) {
                        $(".sim_papers").text(response.rec_list + ", "+ response.rec_journal).css({ 'font-weight': 'bold' })
                    },
                    error: function(response, error) {
                        alert(error);
                    }
                });
            });
          });
    </script>
    <script>
        $(document).ready(function(){
          $(".like_button").click(function(){
                $.ajax({
                    type: "GET",
                    data: {'pk': $(this).data('pid'),
                           'liked': $("span").hasClass('fa fa-thumbs-up') },
                    url: "{% url 'search:paperpreference' %}",
                    success: function(response) {
                        $("#like_count").html(response.likes )
                    },
                    error: function(response, error) {
                        alert(response.likes);
                    }
                });
            });
          });
    </script>


{#$('#likes').click(function(){#}
{#    $('.like_span').toggleClass('glyphicon-thumbs-down glyphicon-thumbs-up');#}
{#    var postid;#}
{#    postid= $(this).attr("data-post_id");#}
{#    $.get('/blog/like_post/', {post_id: postid, liked:$('.like_span').hasClass('glyphicon-thumbs-up')}, function(data){#}
{#               $('#like_count').html(data);#}
{#               $('#likes').hide();#}
{#    });#}
{#});#}
{##}
{##}
{#<span class="like_span glyphicon glyphicon-thumbs-up"></span>#}
{#<span class="like_span glyphicon glyphicon-thumbs-down"></span>#}

    {#</script>#}

{% endblock %}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

</head>


{% block fullwidthheader %}
    <section class="features">
    <div class="container">
    <h2>Search for the Next Paper.</h2>
        <p class="lead">We understand that with the vast amount of literature, doing a thorough literature review seems impossible.<br>
            <strong>Jikan</strong>'s algorithm is designed to uncover what papers are most similar, and help you prioritize your reading.</p>

        <p class="lead">
            <form action="{% url 'search:search_paper' %}" method="GET" value="{{request.GET.q}}">
            <input type="text" style="font-size: 12pt; height: 40px; width:500px; " name="q" value="{{request.GET.q}}" placeholder="Paper Title"/><br><br>
            <button type="submit" class="btn btn-primary" name="submit" value="Search">Submit</button>
            </form>
        </p>


    {% if submitbutton == 'Search' and request.GET.q != '' %}
    {% if results %}


    <h3>Results for <b>{{ request.GET.q }}</b></h3>
        <br/>


        <div style="width: 100%; overflow: hidden;">
        <div style="width: 500px; float: left;">
       {% for result in results %}
           <li >
            {{ result.title}},
            {{ result.authors }},
            <strong> {{ result.journal }}</strong>
            <i>{{ result.year }} </i>

            <button class="sim_button" data-pid="{{ result.pk }}">Similar Papers </button>

               <a href="#" class="like_button" data-pid="{{ result.pk }}"> <span class="like_span fa fa-thumbs-up"></span> </a>

            <strong id="like_count">{{result.likes}} </strong>  |
                <a href="#" onClick="document.getElementById('dislikebutton').submit()"> <span class="like_span fa fa-thumbs-down"> </span> </a>
              <strong id="dislike_count"> {{result.dislikes}}</strong>



{##}
{#            <form id="likebutton" method="POST" action="{{result.id}}/preference/1/">#}
{#                {% csrf_token %}#}
{#            <input type="hidden">#}
{#            </form>#}
{#           <form id="dislikebutton" method="POST" action="{{result.id}}/preference/2/">#}
{#               {% csrf_token %}#}
{#            <input type="hidden">#}
{#            </form>#}

           </li>
           <br/>

       {% endfor %}
        </div>
           <div class="sim_papers" style="margin-left: 420px;padding: 0px 100px 0px 130px;" >
           </div>



         </div>
    {% else %}


        <h4> No search results for this query </h4>
        {% endif %}
    {% endif %}
    </div>
    </section>

{% endblock fullwidthheader %}

{% block fullwidthfooter %}
  <section class="features">

  </section>
{% endblock fullwidthfooter %}

