{% extends 'base.html' %}
{% load socialaccount %}
{% load widget_tweaks %}


{% block javascript %}
    <script>
        $(document).ready(function(){
          $(".sim_button").click(function(){
                var pk = $(this).data('pid')
                $.ajax({
                    type: "GET",
                    data: {'pk': $(this).data('pid')},
                    url: "{% url 'search:get_recommendation' %}",
                    success: function(response) {
                        $("#sim_" + pk).html(response.rec_list + ", "+ response.rec_journal).css({ 'font-weight': 'bold' })
                        console.log($("#sim_" + pk))
                    },
                    error: function(response, error) {
                        alert(error);
                    }
                });
            });
          });
    </script>
    <script>
        $(document).ready(function(){
          $(".like_button").click(function(){
                var pk = $(this).data('pid')
                $.ajax({
                    type: "GET",
                    data: {'pk': pk,
                           'liked': $("span").hasClass('fa fa-thumbs-up') },
                    url: "{% url 'search:like_paper' %}",
                    success: function(response) {
                        $("#like_count_"+ pk).html(response.likes )
                    },
                    error: function(response, error) {
                        alert(error);
                    }
                });
            });
          });
    </script>
{% comment %}    <script>
        $(document).ready(function(){
          $(".dislike_button").click(function(){
                var pk = $(this).data('pid')
                $.ajax({
                    type: "GET",
                    data: {'pk': pk,
                           'disliked': $("span").hasClass('fa fa-thumbs-down') },
                    url: "{% url 'search:dislike_paper' %}",
                    success: function(response) {
                        $("#dislike_count_"+ pk).html(response.dislikes )
                    },
                    error: function(response, error) {
                        alert(error);
                    }
                });
            });
          });
    </script>{% endcomment %}
      <script>
        var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
            $('.loading').show();
          },
          onAfterPageLoad: function ($items) {
            $('.loading').hide();
          }
        });
      </script>
{% endblock %}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

</head>


{% block fullwidthheader %}
    <section class="features">
    <div class="container">
    <h2>Search for the Next Paper.</h2>
        <p class="lead">We understand that with the vast amount of literature, doing a thorough literature review seems impossible.<br>
            <strong>Jikan</strong>'s algorithm is designed to uncover what papers are most similar, and help you prioritize your reading.</p>

        <p class="lead">
            <form action="{% url 'search:search_paper' %}" method="GET" value="{{request.GET.q}}">
            <input type="text" style="font-size: 12pt; height: 40px; width:500px; " name="q" value="{{request.GET.q}}" placeholder="Paper Title"/><br><br>
            <button type="submit" class="btn btn-primary" name="submit" value="Search">Submit</button>
            </form>
        </p>



    {% if submitbutton == 'Search' and request.GET.q != '' %}
    {% if results %}



    <h3>Results for <b>{{ request.GET.q }}</b></h3>
        <br/>


        <div style="width: 90%; overflow: hidden;">

       {% for result in results %}
           <li >
            {{ result.title}},
            {% for author in result.authors.all %}
                {{ author }},
                {% empty %}
                empty list!
{           {% endfor %}
            <strong> {{ result.journal }}</strong>
            <i>{{ result.year }} </i>

            <button class="sim_button" data-pid="{{ result.pk }}">Similar Papers </button>

               <a href="#" class="like_button" data-pid="{{ result.pk }}"> <span class="like_span fa fa-thumbs-up"></span>
                   <strong id="like_count_{{ result.pk }}">{{result.likes}} </strong> </a>
{% comment %}             |
                <a href="#" class="dislike_button" data-pid="{{ result.pk }}"> <span class="like_span fa fa-thumbs-down"></span>
                    <strong id="dislike_count_{{ result.pk }}"> {{result.dislikes}}</strong> </a>{% endcomment %}

            <br>
               <div class="expand" id="sim_{{ result.pk }}"></div>

           </li>



           <br/>

       {% endfor %}

            {% if results.has_other_pages %}
              <ul class="pagination">
                {% if results.has_previous %}
                  <li><a href="?q={{request.GET.q}}&submit=Search&page={{ results.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in results.paginator.page_range %}
                  {% if results.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?q={{request.GET.q}}&submit=Search&page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if results.has_next %}
                  <li><a href="?q={{request.GET.q}}&submit=Search&page={{ results.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
    {% else %}


        <h4> No search results for this query </h4>
        {% endif %}
    {% endif %}
    </div>
      </div>
    </section>

{% endblock fullwidthheader %}

{% block fullwidthfooter %}
  <section class="features">

  </section>
{% endblock fullwidthfooter %}
