{% extends 'base.html' %}
{% load socialaccount %}
{% load widget_tweaks %}
{% block javascript%}
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
    $(document).ready(function(){
      $(".like_button").click(function(){
            var pk = $(this).data('pid')
            $.ajax({
                type: "GET",
                data: {'pk': pk,
                       'liked': $("span").hasClass('fa fa-thumbs-up') },
                url: "{% url 'search:like_paper' %}",
                success: function(response) {
                    $("#like_count_"+ pk).html(response.likes )
                },
                error: function(response, error) {
                    alert(error);
                }
            });
        });
      });
</script>
<script>
$(document).ready(function(){
  $("#myBtn").click(function(){
    var pk = $(this).data('pid')
    $("#myModal").modal("show");
  });
  $("#myModal").on('show.bs.modal', function(event){
    var modal = $(this)
    var pk = $(this).data('pid')
    $.ajax({
        data: {'pk': pk},
        url: "{% url 'search:load_paper' %}",
        context: document.body,
        error: function(response, error) {
            alert(error);
        }
    }).done(function(response) {
        modal.html(response);
    });
  });
});
</script>
<script>
$(document).ready(function(){
  $("#add_event").click(function(){
    var pk = $(this).data('pid')
    $("#myModal2").modal("show");
  });
  $("#myModal2").on('show.bs.modal', function(event){
    var modal = $(this)
    var pk = $(this).data('pid')
    $.ajax({
        data: {'pk': pk},
        url: "{% url 'search:add_event' %}",
        context: document.body,
        error: function(response, error) {
            alert(error);
        }
    }).done(function(response) {
        modal.html(response);
    });
  });
});
</script>
<script>
    $(document).ready(function(){
      $(".sim_button").click(function(){
            var pk = $(this).data('pid')
            $.ajax({
                type: "GET",
                data: {'pk': $(this).data('pid')},
                url: "{% url 'search:get_recommendation' %}",
                success: function(response) {
                    $("#sim_paper").html(response.rec_list + ", "+ response.rec_journal).css({ 'font-weight': 'bold' })
                    console.log($("#sim_" + pk))
                },
                error: function(response, error) {
                    alert(error);
                }
            });
        });
      });
</script>

{% endblock %}

{% block fullwidthheader %}
  {% if paper %}
<div class="container">
    {% if can_edit %}
    <button type='button' class="btn btn-primary" data-toggle="modal" data-target="#modal" id="myBtn" data-pid={{paper.pk}} >Edit Paper Details</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#fm-modal-grid" data-pid={{paper.pk}}>Delete Paper</button>
    {% endif %}
<div class="masthead">
  <h1>{{paper.title}}</h1>
  <p>  Created On: <i>{{paper.year_month_created}}</i>
    {% if paper.created_by %}
    By: <a href = "{% url 'search:view_user' pk=paper.created_by.pk %}"> {{paper.created_by.first_name}} {{paper.created_by.last_name}}</a> <br> </p>
    {% endif %}
    </p>
    <a href="#" class="like_button" data-pid="{{ paper.pk }}">
      <span class="like_span fa fa-thumbs-up fa-2x"></span>
        <strong id="like_count_{{ paper.pk }}"> {{paper.likes}} </strong>
    </a>
    <br>
    <p class="h4 text-muted">    Abstract: </p>
    <p class="text-muted">     {{ paper.abstract }} </p>



</div>

    <section class="features">
      <div class="container">
        <div class="modal fade" id="fm-modal-grid" tabindex="-1"
             role="dialog" aria-labelledBy="fm-modal-grid"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modalcontent">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <p>Are you sure you want to delte {{paper.title}}?</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <a href="{% url 'search:remove_paper' pk=paper.pk %}" class="btn">Delete</a>
                        <button class="btn btn-primary" data-dismiss="modal">Cancel</button>

                    </div>
                </div>
            </div>
        </div>

        {% csrf_token %}

       <!-- Modal -->
       <div class="modal fade" id="myModal" role="dialog" data-pid={{paper.pk}}> {% csrf_token %}
         <div class="modal-dialog">
         </div>
       </div>

       {% endif %}

       <br>
       <!-- <div class="col-xs-16 col-sm-8"> -->
                  <!-- <br> -->
                  <!-- <p class="h5 text-secondary">Project Stage: <b> {{paper.get_status_display }} </b> <br> -->

        <!-- <button class="sim_button" data-pid="{{ paper.pk }}">Similar Papers </button> -->



        {% if paper.document %}
        <embed src={{paper.document.url}} width="800" height="1000"
          type="application/pdf">
        {% else %}
        {% endif %}
      <!-- </div> -->


      <div class="page">
        {% if can_edit %}
        <div style="text-align: center;">
          <a href="#" id="add_event" data-pid={{ paper.pk }}>
            <span class="fa fa-pencil-square-o fa-3x" align="center"></span>
          </a>
        </div>

        <div class="modal fade" id="myModal2" role="dialog" data-pid={{ paper.pk }}> {% csrf_token %}
          <div class="modal-dialog">
          </div>
        </div>


        {% endif %}


        {% regroup events by date.year as events_by_year %}


        <div class="page__demo">
          <div class="main-container page__container">
            {% for year in events_by_year %}
            <div class="timeline">
              <div class="timeline__group">
                <span class="timeline__year">{{year.grouper}}</span>
                {% for event in year.list %}
                <div class="timeline__box">
                  <div class="timeline__date">
                    <span class="timeline__day">{{event.date|date:'j'}}</span>
                    <span class="timeline__month"> {{event.date|date:'M'}}</span>
                  </div>
                  <div class="timeline__post">
                    <div class="timeline__content">
                      <p>
                        <a data-toggle="collapse" href="#eventdetails" role="button" aria-expanded="false" aria-controls="eventdetails">
                         {{event.get_event_display}} -
                       </a>
                     </p>
                    </div>
                    <div class="collapse" id="eventdetails">
                      <div class="card-body">
                        {{event.comment}}
                      </div>
                    </div>

                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

            {% endfor %}
          </div>
        </div>



    <div class="container">




      <!-- <div class = "col-xs-12 col-sm-8"> -->
      <!-- <div id="disqus_thread"></div>

        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = 'http://127.0.0.1:8000/paper/';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://jikan-1.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->




      <!-- {% for comment in paper.comments.all %}
          {% if user.is_authenticated or comment.approved_comment %}
          <div class="comment">
              <div class="date">
                  {{ comment.created_date }}
                  {% if not comment.approved_comment %}
                      <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                      <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                  {% endif %}
              </div>
              <strong>{{ comment.author }}</strong>
              <p>{{ comment.text|linebreaks }}</p>
          </div>
          {% endif %}
      {% empty %}
          <p>No comments here yet :( </p>
      {% endfor %} -->

      <!-- </div> -->
      </div>
    </section>

{% endblock fullwidthheader %}
