{% extends 'base.html' %}
{% load socialaccount %}
{% load widget_tweaks %}
{% block javascript%}
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
    $(document).ready(function(){
      $(".like_button").click(function(){
            var pk = $(this).data('pid')
            $.ajax({
                type: "GET",
                data: {'pk': pk,
                       'liked': $("span").hasClass('fa fa-thumbs-up') },
                url: "{% url 'search:like_paper' %}",
                success: function(response) {
                    $("#like_count_"+ pk).html(response.likes )
                },
                error: function(response, error) {
                    alert(error);
                }
            });
        });
      });
</script>
<!-- <script>
// Get the modal
var modal = document.getElementById("myModal");
// Get the button that opens the modal
var btn = document.getElementById("editPaperBtn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script> -->
<script>
$(document).ready(function(){
  $("#myBtn").click(function(){
    var pk = $(this).data('pid')
    $("#myModal").modal("show");
  });
  $("#myModal").on('show.bs.modal', function(event){
    var modal = $(this)
    var pk = $(this).data('pid')
    $.ajax({
        data: {'pk': pk},
        url: "{% url 'search:load_paper' %}",
        context: document.body,
        error: function(response, error) {
            alert(error);
        }
    }).done(function(response) {
        modal.html(response);
    });
  });
});
</script>
<script>
    $(document).ready(function(){
      $(".sim_button").click(function(){
            var pk = $(this).data('pid')
            $.ajax({
                type: "GET",
                data: {'pk': $(this).data('pid')},
                url: "{% url 'search:get_recommendation' %}",
                success: function(response) {
                    $("#sim_paper").html(response.rec_list + ", "+ response.rec_journal).css({ 'font-weight': 'bold' })
                    console.log($("#sim_" + pk))
                },
                error: function(response, error) {
                    alert(error);
                }
            });
        });
      });
</script>

{% endblock %}
{% block fullwidthheader %}
    <section class="features">
      <div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% if paper %}

        <p class="lead">Details for <b>{{ paper.title }}</b></p>

        <a href="#" class="like_button" data-pid="{{ paper.pk }}"> <span class="like_span fa fa-thumbs-up fa-2x"></span>
            <strong id="like_count_{{ paper.pk }}"> {{paper.likes}} </strong> </a> <br>

            <br>
        <!-- <p>can edit, {{ can_edit}}</p> -->
        {% if can_edit %}

        <button type='button' class="btn btn-primary" data-toggle="modal" data-target="#modal" id="myBtn" data-pid={{paper.pk}} >Edit Paper Details</button>
        {% csrf_token %}
        <br>
        <br>
       <!-- Modal -->
       <div class="modal fade" id="myModal" role="dialog" data-pid={{paper.pk}}> {% csrf_token %}
         <div class="modal-dialog">
         </div>
       </div>

       {% endif %}
       <!-- <div class="modaldiv"></div> -->
       <br>
        <p class="lead">Project Stage: <b> {{paper.get_status_display }} </b> <br>
        Created At: <i>{{paper.year_month_created}}</i> <br>
        Modified At: {{paper.year_month_modified}} <br>
        Created By: {{paper.created_by}} <br> </p>

        <button class="sim_button" data-pid="{{ paper.pk }}">Similar Papers </button>

        <div class="expand" id="sim_paper"></div>
        <p class="lead">    Abstract:
                <br>{{ paper.abstract }}</p>

        {% endif %}



        {% if paper.document %}
        <embed src={{paper.document.url}} width="800" height="1000"
          type="application/pdf">
        {% else %}
        {% endif %}

    </div>
</div>

    <div class="row">


      <div class="col-md-7 col-md-offset-2" id="disqus_thread"></div>

        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = 'http://127.0.0.1:8000/paper/';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://jikan-1.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>




      <!-- {% for comment in paper.comments.all %}
          {% if user.is_authenticated or comment.approved_comment %}
          <div class="comment">
              <div class="date">
                  {{ comment.created_date }}
                  {% if not comment.approved_comment %}
                      <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                      <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                  {% endif %}
              </div>
              <strong>{{ comment.author }}</strong>
              <p>{{ comment.text|linebreaks }}</p>
          </div>
          {% endif %}
      {% empty %}
          <p>No comments here yet :( </p>
      {% endfor %} -->

      </div>

    </section>

{% endblock fullwidthheader %}
