{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block javascript%}
<script>
$(document).ready(function(){
  $("#myBtn").click(function(){
    var pk = $(this).data('pid')
    $("#myModal").modal("show");
  });
  $("#myModal").on('show.bs.modal', function(event){
    var modal = $(this)
    var pk = $(this).data('pid')
    $.ajax({
        data: {'pk': pk},
        url: "{% url 'search:load_user' %}",
        context: document.body,
        error: function(response, error) {
            alert(error);
        }
    }).done(function(response) {
        modal.html(response);
    });
  });
});
</script>

{% endblock %}
{% block fullwidthheader %}
    <section class="features">
    <!-- <div class="col-md-6 col-md-offset-3"> -->
    <div class="container">

    <!-- <div class="col-md-6 col-md-offset-3"> -->
                <div class="col-sm-12">
                    {% if can_edit %}
                  <button type='button' class="btn btn-primary" data-toggle="modal" data-target="#modal" id="myBtn" data-pid= {{creator.pk}} >Edit Profile</button>
                  <button type="button" class="btn btn-primary"  onclick="location.href='{% url 'add_paper' %}'"  > Add a new paper </button>
                  <!-- Modal -->
                  <div class="modal fade" id="myModal" role="dialog" data-pid={{ creator.pk }}> {% csrf_token %}
                    <div class="modal-dialog">
                    </div>
                  </div>
                  {% endif %}

                    <div class="col-xs-12 col-sm-8">
                        <h2>{{creator.first_name}} {{creator.last_name}}</h2>
                        <p class="lead"><strong>Institution: </strong> {{creator.institution}}  </p>
                        <p class="lead"><strong> url:</strong> <a href="{{ created_by.url }}"> {{ creator.url}} </a> </p>
                        <p class="lead"><strong> Position:</strong> {{ creator.get_position_display }} </p>
                          <p class="lead"><strong>Research Area: </strong>
                            <span class="tags"> {{creator.research_area}} </span>
                        </p>
                        <p class="lead"> <strong>Papers Uploaded:</strong> </p>
                          {% for paper in creator.papers.all %}
                          <a href="{% url 'search:paper_detail' pk=paper.pk %}"><p class="lead">{{ paper.title }}</p></a>
                              {% empty %}
                              No paper uploaded.
                              {% endfor %}
                              
                         
                          <br>
                          <p class="lead"> <strong>Papers liked:</strong></p>
                            {% for pref in creator.preference.all %}
                            <a href="{% url 'search:paper_detail' pk=pref.paper.pk %}">
                              <p class="lead">{{ pref.paper.title }}</p></a>
                                {% empty %}
                                No paper liked.
                                {% endfor %}
                  
                            
                            <br>
                            <p class="lead"> <strong>Papers Commented:</strong></p>
                              {% for comment in creator.comments.all %}
                              <a href="{% url 'search:paper_detail' pk=comment.event.paper.pk %}"><p class="lead">{{ comment.event.paper.title }}</p>
                                  {% empty %}
                                  No paper liked.
                                  {% endfor %}
                                </a>
                      
                    </div>
                    <br>
                    <br>
                    
                </div>
                <br>
                <div class="col-xs-12 divider text-center">
                    
                    <div class="col-xs-12 col-sm-4 emphasis">

                        <div class="btn-group dropup btn-block">

                          <button type="button" class="btn btn-primary" onclick="location.href='mailto:{{creator.email}}';" ><span class="fa fa-envelope"></span> Email this user </button>
                          
                        </div>
                    </div>
                </div>
        	 <!-- </div> -->
          </div>

    </section>

{% endblock fullwidthheader %}
